<div class="container mb-5" id="displayAbout" style="padding: 0;">
    <div class="container-fluid h-100" style="padding: 0;">

        <div class="row align-items-center h-100" style="margin: 0; contain: layout;">
            <div id="myImageParent" class="myImageParent row-md-6 col-lg-4 d-flex justify-content-center">
                <img id="rotateMe" src="./assets/meWithFrame.png" class="img-fluid mb-3">
            </div>
            <div class="d-none d-lg-block col-lg-1 d-flex justify-content-center" id="rotater">
                <img src="./assets/rotater.png" class="img-fluid" />
                <!-- <span style="font-size: 10px;"><center>click here lol</center></span> -->
            </div>

            <div class="row-md-6 col-lg-7">
                <p class="box-heading">My name is</p>
                <p class="text-content">
                    Devankshi Deshmukh. I am a backend and web developer who passionately works to design the
                    virtual world!
                </p>

                <p class="box-heading mt-2">What do I do?</p>
                <p class="text-content">
                    I am a graduate student at University of Southern California studying Computer Science! My
                    passion towards CS started and flourished through my experience as a backend developer in
                    internships and my art skills that lets me think of creative ways to design web pages.
                </p>

                <p class="box-heading mt-2">Things that make me happy</p>
                <p class="text-content">
                    Drawing, anime and chinese street food! :D
                </p>
            </div>
        </div>

    </div>
</div>

<div class="aboutmebg">
    <div class="container">
        <p style="font-size: 2.5em; padding: 0; text-align: center; color: black;" class="pt-3">Album :D</p>
        <div class="row pb-5">

            <div class="fullwrap p-0 m-1">
                <img src="./assets/aboutme/athenahacks.JPG" style="height:350px; width:auto;">
                <div class="fullcap px-5">
                    Hackathon presentation of my solo project at AthenaHacks 2025!
                </div>
            </div>

            <div class="fullwrap p-0 m-1">
                <img src="./assets/aboutme/1.jpg" style="height:350px; width:auto;">
                <div class="fullcap px-5">
                    The time I got the opportunity to present my research poster at WE LOCAL 23! #day1
                </div>
            </div>

            <div class="fullwrap p-0 m-1">
                <img src="./assets/aboutme/3.jpg" style="height:350px; width:auto;">
                <div class="fullcap px-5">
                    #day2 of WE LOCAL 23
                </div>
            </div>

            <div class="fullwrap p-0 m-1">
                <img src="./assets/aboutme/2.jpeg" style="height:350px; width:auto;">
                <div class="fullcap px-5">
                    New student convocation ceremony at University of Southern California!
                </div>
            </div>

        </div>
    </div>
</div>

