<div class="container mb-5" id="displayAbout" style="padding: 0;">
    <div class="container-fluid h-100" style="padding: 0;">

        <div class="row align-items-center h-100" style="margin: 0; contain: layout;">
            <div class="row-md-6 col-lg-4 d-flex justify-content-center">
                <img #rotateMe ngSrc="assets/about/meWithFrame.png" style="height: 300px; width: auto; position: relative" class="img-fluid mb-3" fill priority>
            </div>
            <div class="d-none d-lg-block col-lg-1 d-flex justify-content-center" id="rotater">
                <img class="image" src="assets/about/rotater.png" style="height: 70px; width: auto" (click)="rotateImage()" class="img-fluid" />
                <!-- <span style="font-size: 10px;"><center>click here lol</center></span> -->
            </div>

            <div class="row-md-6 col-lg-7">
                <p class="box-heading">My name is</p>
                <p class="text-content">
                    Devankshi Deshmukh. I am a full-stack developer who passionately works to design the
                    virtual world!
                </p>

                <p class="box-heading mt-2">What do I do?</p>
                <p class="text-content">
                    I am a graduate student at University of Southern California studying Computer Science! My
                    passion towards CS started and flourished through my experience as a backend developer in
                    internships and my art skills that lets me think of creative ways to design web pages.
                </p>

                <p class="box-heading mt-2">Things that make me happy</p>
                <p class="text-content">
                    Drawing, longboarding and chinese street food! :D
                </p>
            </div>
        </div>

    </div>
</div>

<div class="aboutmebg">
    <div class="container">
        <p style="font-size: 2.5em; padding: 0; text-align: center; color: black;" class="pt-3">Album :D</p>
        
        <!-- <div class="row pb-5">
            <div class="fullwrap p-0 m-1" *ngFor="let image of images">
                <img ngSrc="assets/about/album/{{ image.path }}" style="height:350px; width:auto; position:relative" fill priority>
                <div class="fullcap px-5">{{ image.caption }}</div>
            </div>
        </div> -->

        <div class="row pb-5">
            <div class="fullwrap p-0 m-1" *ngFor="let image of images">
                <img ngSrc="assets/about/album/{{ image.path }}" (click)="openImage(image)" class="click-to-expand" style="height:350px; width:auto; position:relative" fill priority />
            </div>
        </div>

        <div class="modal-backdrop" *ngIf="selectedImage" (click)="closeImage()">
            <div class="modal-content" (click)="$event.stopPropagation()">
                <img [src]="'assets/about/album/' + selectedImage.path" />
                <div class="modal-caption">{{ selectedImage.caption }}</div>
            </div>
        </div>

    </div>
</div>

