<div id="displaySmartxr" style="padding: 0;" class="container">
    <div class="container-fluid h-100" style="padding: 0;">

        <!-- heading -->
        <a href="https://www.smartxr.in" target="_blank">
            <div class="company-box" style="padding: 50px 0;">
                <div class="row" style="padding: 0; margin: 0;">
                    <div class="col d-flex justify-content-center">
                        <img src="../../assets/logo-smartxr.png" style="height:100px; width: auto;">
                    </div>
                </div>
                <div class="row" style="padding: 0; margin: 0;">
                    <div class="col d-flex justify-content-center">
                        <p class="box-heading align-items-center"
                            style="font-family: 'Russo One', sans-serif; color: black; font-size: 50px; margin: 0;">VR2ality
                        </p>
                    </div>
                </div>
            </div>
        </a>
        
        <!-- pointers -->
        <div class="row mt-3" style="margin: 0;">
            <div class="col company-pointers-box m-1">
                <p class="m-2">Role</p>
                <h5 class="m-2 fw-bolder">Character Designer</h5>
            </div>
            <div class="col company-pointers-box m-1">
                <p class="m-2">Duration</p>
                <h5 class="m-2 fw-bolder">July 2021 - April 2022</h5>
            </div>
            <div class="col company-pointers-box m-1">
                <p class="m-2">Team</p>
                <h5 class="m-2 fw-bolder">Design</h5>
            </div>
            <div class="col company-pointers-box m-1">
                <p class="m-2">Location</p>
                <h5 class="m-2 fw-bolder">Remote</h5>
            </div>
        </div>
        
        <!-- description -->
        <div class="box row row-cols-1 row-cols-sm-1 row-cols-md-2 my-3">
            <div class="col">
                <p class="text-content mt-5">
                    SmartXR is an experiential learning platform that uses immersive technology
                    and multimedia. 
                    <br><br>My role at SmartXR:
                    <br>1. To engage in in-depth discussions pertaining to character backstories.
                    <br>2. Actively collaborate with animators to conceptualize and execute the design of
                    characters
                    <br>3. Create comprehensive 2D vectors that encompass various elements such as gestures, eye
                    movements, and multiple body views. These vectors served as a valuable resource for animators to
                    further work on!
                </p>
            </div>
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 mt-5">
                <div class="col">
                    <img src="../../assets/smartxr-img1.png" style="height: 300px; width: auto;" class="img-fluid">
                </div>
            </div>
            <p>
                <!-- <a class="company-link" href="https://www.wegalabs.com/" target="_blank">&#169; Wega Labs</a> -->
            </p>
        </div>
        
        <!-- accomplishments -->
        <!-- <div class="row mt-3" style="margin:0;">
            <p style="font-size: 2.5em; padding: 0; text-align: left;">Accomplishments :D</p>
            <div class="col m-2 d-flex button-wrapper">
                <button class="confetti-button p-3 flex-fill fw-bold" onclick="confetti()">Designed 10+ characters</button>
            </div>
            <div class="col m-2 d-flex button-wrapper">
                <button class="confetti-button p-3 flex-fill fw-bold" onclick="confetti()">All body movements covered</button>
            </div>
        </div> -->
        
        <!-- tech stack -->
        <div class="row mt-5" style="margin:0; padding-bottom: 100px;">
            <p style="font-size: 2.5em; padding: 0; text-align: left;">My tools stack >>></p>
            <div class="col m-2 d-flex button-wrapper">
                <button class="confetti-button p-3 flex-fill fw-bold" onclick="confetti()">Adobe Illustrator</button>
            </div>
            <div class="col m-2 d-flex button-wrapper">
                <button class="confetti-button p-3 flex-fill fw-bold" onclick="confetti()">Adobe Photoshop</button>
            </div>
            <div class="col m-2 d-flex button-wrapper">
                <button class="confetti-button p-3 flex-fill fw-bold" onclick="confetti()">Figma</button>
            </div>
        </div>
    </div>
</div>