<div id="displayArt" style="padding: 0;" class="container">
    <div class="container-fluid" style="padding: 0;">

        <div class="row align-items-center" style="margin:0;">
            <div class="heading row mb-3 d-flex align-items-center" style="margin:0;">
                ART <img src="./assets/emojis/1x/art.png" class="allEmojis">
            </div>

            <div class="row mb-5" style="padding: 0; margin: 0;">
                <div class="col-lg-4 col-md-4 col-sm-12 my-2">
                    <a routerLink="/curryninja" routerLinkActive="active-link">
                        <div class="work-box m-2 h-100 d-flex justify-content-center" style="padding: 50px 0;">
                            <img src="./assets/art/profile-circle.jpg" style="height:100px; width: auto; border-radius: 50%;" class="m-auto">
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 my-2">
                    <a routerLink="/smartxr" routerLinkActive="active-link">
                        <div class="work-box m-2 h-100 d-flex justify-content-center" style="padding: 50px 0;"> 
                            <img src="./assets/logo-smartxr.png" style="height:50px; width: auto;" class="m-auto">
                        </div>
                    </a>
                </div>
            </div>
        </div>   

    </div>
</div>