<div id="displayTech" style="padding: 0;" class="container">
    <div class="container-fluid" style="padding: 0;">

        <div class="row align-items-center" style="margin:0;">
            <div class="heading row mb-3 d-flex align-items-center" style="margin:0;">
                TECH <img src="./assets/emojis/1x/work.png" class="allEmojis">
            </div>

            <div class="row mb-5" style="padding: 0; margin: 0;">
                <div class="col-lg-4 col-md-4 col-sm-12 my-2">
                    <a routerLink="/marshall" routerLinkActive="active-link">
                        <div class="work-box m-2 h-100 d-flex justify-content-center" style="padding: 50px 0;">
                            <img src="./assets/you.png" style="height: 100px; width: auto;" class="m-auto">
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 my-2">
                    <a routerLink="/workup" routerLinkActive="active-link">
                        <div class="work-box m-2 h-100 d-flex justify-content-center" style="padding: 50px 0;">
                            <img src="./assets/logo-workup.png" style="height:100px; width: auto; border-radius: 15%;" class="m-auto">
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 my-2">
                    <a routerLink="/wegalabs" routerLinkActive="active-link">
                        <div class="work-box m-2 h-100 d-flex justify-content-center" style="padding: 50px 0;">
                            <img src="./assets/wega/wegalabs_logo.jpeg" style="height:100px; width: auto; border-radius: 15%;" class="m-auto">
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 my-2">
                    <a routerLink="/salahkaar" routerLinkActive="active-link">
                        <div class="work-box m-2 h-100 d-flex justify-content-center" style="padding: 50px 0;">
                            <img src="./assets/salahkaar/logo-salahkaar2.png" style="height:100px; width: auto;" class="m-auto">
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>