<div id="displayCurry" style="padding: 0;">
    <div class="container">
        <div class="container-fluid h-100" style="padding: 0;">

            <!-- heading -->
            <a href="https://curry-dev.github.io/curry-ninja/" target="_blank">
                <div class="company-box" style="padding: 50px 0;">
                    <div class="row" style="padding: 0; margin: 0;">
                        <div class="col d-flex justify-content-center">
                            <img src="../../assets/art/profile-circle.jpg" style="height:100px; width: auto; border-radius: 50%; border: 1px solid black;">
                        </div>
                    </div>
                    <div class="row" style="padding: 0; margin: 0;">
                        <div class="col d-flex justify-content-center">
                            <p class="box-heading align-items-center"
                                style="font-family: 'Russo One', sans-serif; color: black; font-size: 50px; margin: 0;">Curry Ninja
                            </p>
                        </div>
                    </div>
                </div>
            </a>
            
            <!-- description -->
            <div class="box row my-3">
                <div class="col">
                    <p class="text-content mt-5">
                        I developed a website to display my art: <a href="https://curry-dev.github.io/curry-ninja/" class="project-link" target="_blank">Curry Ninja</a> (my stage name hehe). It is a simple HTML and CSS script displaying most of my
                        drawings, which is my hobby!
                    </p>
                </div>
            </div>

        </div>
    </div>

    <!-- my art -->
    <div class="artbg">
        <div class="container">
            <p style="font-size: 2.5em; padding: 0; text-align: center; color: black;" class="pt-3">I drew these :D</p>
    
            <div class="row pb-5">
                <img src="../../assets/art/animals.jpg" class="m-1 p-0" style="height:330px; width:auto; border: 3px solid black;">
                <img src="../../assets/art/broken.jpg" class="m-1 p-0" style="height:330px; width:auto; border: 3px solid black;">
                <img src="../../assets/art/Delilah.jpg" class="m-1 p-0" style="height:330px; width:auto; border: 3px solid black;">
                <img src="../../assets/art/levi.jpg" class="m-1 p-0" style="height:330px; width:auto; border: 3px solid black;">
                <img src="../../assets/art/itadori + nobara + megumi.jpg" class="m-1 p-0" style="height:330px; width:auto; border: 3px solid black;">
                <img src="../../assets/art/mikey.jpg" class="m-1 p-0" style="height:330px; width:auto; border: 3px solid black;">
                <img src="../../assets/art/pjo-tto.jpg" class="m-1 p-0" style="height:330px; width:auto; border: 1px solid black;">
                <img src="../../assets/art/picnic-final.jpg" class="m-1 p-0" style="height:330px; width:auto; border: 3px solid black;">
                <img src="../../assets/art/megumi-blooming.jpg" class="m-1 p-0" style="height:330px; width:auto; border: 3px solid black;">
                <img src="../../assets/art/cdrama.jpg" class="m-1 p-0" style="height:330px; width:auto; border: 3px solid black;">
                <!-- <span class="box-heading">and more :)</span> -->
            </div>
        </div>
    </div>
</div>