<div class="container h-75">
  
    <div id="displayHome" style="padding: 0;" class="container h-75">
        <div class="container-fluid h-100" style="padding: 0;">
  
            <div class="row align-items-center h-100 px-5" style="margin: 0;">
                <div class="col text-center" style="padding: 0; margin: 0;">
                    <h1 class="fs-1 fw-bolder lh-base" style="font-size: 4vw;">
                        Hi! I'm <a routerLink="/about" routerLinkActive="active-link" class="devankshi">Devankshi</a>, I design & develop :)
                    </h1>
                </div>
            </div>
        
        </div>
    </div>
  
</div>
  