<div class="container h-100">

    <div id="displayHome" style="padding: 0;" class="container h-100 d-none d-sm-block">
        <div class="container-fluid h-100" style="padding: 0;">
            <div class="row grid-container align-items-center h-100 px-5" style="margin: 0;">
                <div class="col text-center" style="padding: 0; margin: 0;">
                    <h1 class="fs-1 fw-bolder lh-base" style="font-size: 4vw;">
                        Hi! I'm <a routerLink="/about" routerLinkActive="active-link" class="devankshi">Devankshi</a>, I design & develop :)
                    </h1>
                </div>
                <!-- <div class="col map-img text-center">
                    <a routerLink="/tech" routerLinkActive="active-link">
                        <img src="./assets/map/volcano1.png" style="height:200px;">
                        <div class="map-caption px-5"><button class="map-btn">tech</button></div>
                    </a>
                </div>
                <div class="col map-img text-center">
                    <a routerLink="/art" routerLinkActive="active-link">
                        <img src="./assets/map/monument.webp" style="height:200px;">
                        <div class="map-caption px-5"><button class="map-btn">art</button></div>
                    </a>
                </div>
                <div class="col map-img text-center">
                    <a routerLink="/about" routerLinkActive="active-link">
                        <img src="./assets/map/house.webp" style="height:200px;">
                        <div class="map-caption px-5"><button class="map-btn">about</button></div>
                    </a>
                </div> -->
            </div>
        </div>
    </div>

    <div class="container h-100 d-block d-sm-none">
        <!-- This section is only visible on xs (phones) -->
        <div class="container-fluid h-100" style="padding: 0;">
            <div class="row grid-container align-items-center h-100 px-5" style="margin: 0;">
                <div class="col text-center" style="padding: 0; margin: 0;">
                    <h1 class="fs-1 fw-bolder lh-base" style="font-size: 4vw;">
                        <p>Hi, I'm Devankshi.</p>
                        <p style="font-size: 4vw;">Sorry, responsive website is under construction :(</p><br>
                        <p style="font-size: 4vw;">Buttttt it's still up on bigger screens!</p>
                        <p style="font-size: 4vw;">Here's my other stuff: </p>
                        <a href="https://devpost.com/curry-dev" target="_blank" class="font-weight-bold m-2">
                            <i class="fa-brands fa-dev fa-lg"></i>
                        </a>
                        <a href="https://github.com/curry-dev" target="_blank" class="font-weight-bold m-2">
                            <i class="fa-brands fa-github fa-lg"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/devankshi/" target="_blank" class="font-weight-bol m-2">
                            <i class="fa-brands fa-linkedin-in fa-lg"></i>
                        </a>
                    </h1>
                </div>
            </div>
        </div>
    </div>
  
</div>
  