<div id="displaySc" class="container">
    <div class="container-fluid" style="padding: 0;">

        <!-- heading -->
        <a href="https://www.salahkaarconsultants.com" target="_blank">
            <div class="company-box" style="padding: 50px 0;">
                <div class="row" style="padding: 0; margin: 0;">
                    <div class="col d-flex justify-content-center">
                        <img src="../../assets/salahkaar/logo-salahkaar2.png" style="height:100px; width: auto;">
                    </div>
                </div>
                <div class="row" style="padding: 0; margin: 0;">
                    <div class="col d-flex justify-content-center">
                        <p class="box-heading" style="font-family: 'Russo One', sans-serif; color: black; font-size: 50px; margin: 0; text-align: center;">Salahkaar Consultants</p>
                    </div>
                </div>
            </div>
        </a>

        <!-- pointers -->
        <div class="row mt-3" style="margin: 0;">
            <div class="col company-pointers-box m-1">
                <h4 class="m-2 fw-bolder">Role</h4>
                <p class="m-2">Software Developer</p>
            </div>
            <div class="col company-pointers-box m-1">
                <h4 class="m-2 fw-bolder">Duration</h4>
                <p class="m-2">March 2022 - July 2022</p>
            </div>
            <div class="col company-pointers-box m-1">
                <h4 class="m-2 fw-bolder">Team</h4>
                <p class="m-2">Technology</p>
            </div>
            <div class="col company-pointers-box m-1">
                <h4 class="m-2 fw-bolder">Location</h4>
                <p class="m-2">Remote</p>
            </div>
        </div>

        <!-- description -->
        <div class="box row my-3">
            <div class="col">
                <!-- <p class="box-heading">
                    <a href="https://www.happyperformer.com" class="company-link" target="_blank">HappyPerformer</a>
                </p> -->
                <p class="text-content mt-5">
                    In my third year of college I interned at Salahkaar Consultants, where I worked on this project
                    called <a href="https://www.happyperformer.com" class="project-link" target="_blank">HappyPerformer</a>
                    where I had to develop features of a HR website. So I
                    made customizable forms for the HR.
                </p>
                <hr style="height:2px;">
                <p class="text-content">
                    The HR can create various forms (simultaneously) to take review and feedback from the employees.
                    The HR can also choose which employees to send the forms to and can view their
                    responses.<br>Furthermore, The HR can make letters (offer letter, transcription letter, etc) and
                    allocate them to employees similar to forms.
                </p>
            </div>
            <div class="row row row-cols-1 row-cols-sm-1 row-cols-md-2">
                <div class="col">
                    <img class="img-fluid" src="../../assets/salahkaar/hp-forms.png">
                </div>
                <div class="col">
                    <img class="img-fluid" src="../../assets/salahkaar/hp-letters.png">
                </div>
            </div>
            <!-- <p><a class="company-link" href="https://salahkaarconsultants.com/" target="_blank">&#169; Salahkaar Consultants</a></p> -->
        </div>

        <div class="box row row-cols-1 row-cols-sm-1 row-cols-md-2 my-3">
            <div class="col">
                <!-- <p class="box-heading">
                    <a href="https://www.managejob.com" class="company-link" target="_blank">ManageJob</a>
                </p> -->
                <p class="text-content mt-5">
                    Another project I worked on at Salahkaar Consultants was <a href="https://www.managejob.com"
                        class="project-link" target="_blank">ManageJob</a> wherein I had to integrate my custom
                    forms again. ManageJob lets a recruiter post jobs to find job-seekers. And job-seekers can find
                    jobs here.
                </p>
                <hr style="height:2px;">
                <p class="text-content mb-5">
                    While posting a job, a recruiter must make a form to ask for details of the job-seeker. And the
                    recruiter must later be able to view the responses if any.
                    <br>
                    Alongside, I also helped with multiple other tasks to complete the project!
                </p>
            </div>
            <div class="col">
                <img src="../../assets/salahkaar/mj-forms.png" class="img-fluid">
            </div>
            <!-- <p><a class="company-link mt-5" href="https://salahkaarconsultants.com/" target="_blank">&#169; Salahkaar Consultants</a></p> -->
        </div>

        <!-- accomplishments -->
        <div class="row mt-3" style="margin:0;">
            <p style="font-size: 2.5em; padding: 0; text-align: left;">Accomplishments :D</p>
            <div class="col m-2 d-flex button-wrapper">
                <button class="confetti-button p-3 flex-fill fw-bold" onclick="confetti()">Session handling</button>
            </div>
            <div class="col m-2 d-flex button-wrapper">
                <button class="confetti-button p-3 flex-fill fw-bold" onclick="confetti()">SSL certification</button>
            </div>
            <div class="col m-2 d-flex button-wrapper">
                <button class="confetti-button p-3 flex-fill fw-bold" onclick="confetti()">Admin Panel</button>
            </div>
        </div>

        <!-- tech stack -->
        <div class="row mt-5" style="margin:0; padding-bottom: 100px;">
            <p style="font-size: 2.5em; padding: 0; text-align: left;">My tech stack >>></p>
            <div class="col m-2 d-flex button-wrapper">
                <button class="confetti-button p-3 flex-fill fw-bold" onclick="confetti()">PHP</button>
            </div>
            <div class="col m-2 d-flex button-wrapper">
                <button class="confetti-button p-3 flex-fill fw-bold" onclick="confetti()">MySQL</button>
            </div>
            <div class="col m-2 d-flex button-wrapper">
                <button class="confetti-button p-3 flex-fill fw-bold" onclick="confetti()">JavaScript</button>
            </div>
            <div class="col m-2 d-flex button-wrapper">
                <button class="confetti-button p-3 flex-fill fw-bold" onclick="confetti()">HTML5 - CSS3 - BootStrap5</button>
            </div>
        </div>

    </div>
</div>