<div id="displayYou" class="container">
    <div class="container-fluid" style="padding: 0;">

        <!-- heading -->
        <a href="https://www.marshall.usc.edu/departments/data-sciences-and-operations" target="_blank">
            <div class="company-box" style="padding: 50px 0;">
                <div class="row" style="padding: 0; margin: 0;">
                    <div class="col d-flex justify-content-center">
                        <img src="assets/work-tech/marshall/logo-marshall.png" style="height:100px; width: auto;">
                    </div>
                </div>
                <!-- <div class="row" style="padding: 0; margin: 0;">
                    <div class="col d-flex justify-content-center">
                        <p class="box-heading align-items-center" style="font-family: 'Russo One', sans-serif; color: black; font-size: 50px; margin: 0;">Office of Data Science and Operations</p>
                    </div>
                </div> -->
            </div>
        </a>

        <!-- pointers -->
        <div class="row mt-3" style="margin: 0;">
            <div class="col company-pointers-box m-1">
                <p class="m-2">Role</p>
                <h5 class="m-2 fw-bolder">Full Stack Developer</h5>
            </div>
            <div class="col company-pointers-box m-1">
                <p class="m-2">Duration</p>
                <h5 class="m-2 fw-bolder">October 2024 - May 2025</h5>
            </div>
            <div class="col company-pointers-box m-1">
                <p class="m-2">Employment Type</p>
                <h5 class="m-2 fw-bolder">Part-time Job</h5>
            </div>
            <div class="col company-pointers-box m-1">
                <p class="m-2">Location</p>
                <h5 class="m-2 fw-bolder">Los Angeles</h5>
            </div>
        </div>

        <!-- description -->
        <div class="box row my-3 d-flex align-items-stretch" style="min-height: 100%;">
            <div class="col d-flex flex-column">
                <p class="text-content mt-5">
                    Office of Data Science and Operations is a research lab at USC Marshall School of Business where I am working with <a href="https://www.marshall.usc.edu/personnel/sriram-dasu" target="_blank" class="project-link">Professor Sriram Dasu</a> to develop solutions for business projects.

                    <br><br>What I did at Marshall:
                    <br>1. Collaborated with business students studying with Professor Dasu to develop solutions for their projects that revolved around real world problems
                    <br>2. My project included developing a platform for farmers in Indonesia / India to help them manage their cattle's health
                    <br>3. I also worked on building a tool for firefighters—something that helps visualize how a fire could spread in a given area, especially if a spark happens along transmission lines. The goal is to show which zones are most at risk and help teams decide where and how to act fast.
                    <br>4. Both projects are still in progress, and I’ll share more once they’re polished. The current images are just rough drafts to give a sneak peek.
                </p>
            </div>

            <div class="row pb-5">
                <img src="assets/work-tech/marshall/disease-2.png" (click)="openImage('disease-2.png')" class="click-to-expand" style="height:250px; width:auto; border-radius: 10px;">
                <img src="assets/work-tech/marshall/diagnoses.png" (click)="openImage('diagnoses.png')" class="click-to-expand" style="height:250px; width:auto; border-radius: 10px;">
                <img src="assets/work-tech/marshall/fire-map.png" (click)="openImage('fire-map.png')" class="click-to-expand" style="height:250px; width:auto; border-radius: 10px;">
            </div>

            <div class="modal-backdrop" *ngIf="selectedImage" (click)="closeImage()">
                <div class="modal-content" (click)="$event.stopPropagation()">
                    <img src="assets/work-tech/marshall/{{ selectedImage }}" />
                </div>
            </div>
            
            <!-- <div class="row row row-cols-1 row-cols-sm-1 row-cols-md-3 mt-5">
                <div class="col">
                    <img class="img-fluid" src="assets/work-tech/marshall/disease-2.png" style="border-radius: 10px;">
                </div>
                <div class="col">
                    <img class="img-fluid" src="assets/work-tech/marshall/diagnoses.png" style="border-radius: 10px;">
                </div>
                <div class="col">
                    <img class="img-fluid" src="assets/work-tech/marshall/fire-map.png" style="border-radius: 10px;">
                </div>  
            </div> -->

        </div>

        <!-- tech stack -->
        <div class="row mt-5" style="margin:0; padding-bottom: 100px;">
            <p style="font-size: 2.5em; padding: 0; text-align: left;">My tech stack >>></p>
            <div class="col m-2 d-flex button-wrapper">
                <button class="confetti-button p-3 flex-fill fw-bold" (click)="confettiService.celebrate()">AngularJS</button>
            </div>
            <div class="col m-2 d-flex button-wrapper">
                <button class="confetti-button p-3 flex-fill fw-bold" (click)="confettiService.celebrate()">Flask</button>
            </div>
            <div class="col m-2 d-flex button-wrapper">
                <button class="confetti-button p-3 flex-fill fw-bold" (click)="confettiService.celebrate()">MongoDB</button>
            </div>
            <div class="col m-2 d-flex button-wrapper">
                <button class="confetti-button p-3 flex-fill fw-bold" (click)="confettiService.celebrate()">ArcGIS</button>
            </div>
            <div class="col m-2 d-flex button-wrapper">
                <button class="confetti-button p-3 flex-fill fw-bold" (click)="confettiService.celebrate()">ReactJS</button>
            </div>
        </div>

    </div>
</div>