<div id="displayYou" class="container">
    <div class="container-fluid" style="padding: 0;">

        <!-- heading -->
        <div class="company-box" style="padding: 50px 0;">
            <div class="row" style="padding: 0; margin: 0;">
                <div class="col d-flex justify-content-center">
                    <p style="font-family: 'Russo One', sans-serif; color: black; font-size: 30px; margin: 0;  text-align: center;">
                        < insert your company here :) >
                    </p>
                </div>
            </div>
            <div class="row" style="padding: 0; margin: 0;">
                <div class="col d-flex justify-content-center">
                    What do I bring to the table?
                </div>
            </div>
        </div>

        <!-- pointers -->
        <div class="row mt-3" style="margin: 0;">
            <div class="col company-pointers-box m-1">
                <h4 class="m-2 fw-bolder">Role</h4>
                <p class="m-2">Backend Developer / Graphics Programmer</p>
            </div>
            <div class="col company-pointers-box m-1">
                <h4 class="m-2 fw-bolder" style="margin: 0;">Study</h4>
                <p class="m-2" style="margin: 0;">Graduate student at USC</p>
            </div>
            <div class="col company-pointers-box m-1">
                <h4 class="m-2 fw-bolder">Citizenship</h4>
                <p class="m-2">India (F1 status in the US)</p>
            </div>
            <!-- <div class="col company-pointers-box m-1">
                <h4 class="m-2 fw-bolder">Location</h4>
                <p class="m-2">Anywhere :)</p>
            </div> -->
        </div>

        <!-- description -->
        <div class="box row row-cols-1 row-cols-sm-1 my-3">
            <div class="col">
                <p class="text-content mt-5">
                    My journey started as an artist. During the pandemic, I found myself drawing digital art to post on Instagram. Eventually I wanted to build a portfolio website for it. Given my background in CS, I started with HTML and CSS to make my very first website to display my drawings. That was when I realized I love developing websites! Over the years, I built more websites while up-skilling to frameworks like React and Angular. When I bought my first MacBook, I dove right into developing my very first iOS application, and it was a true revelation for me! I want to keep designing and building because it makes me the happiest.

                    <br><br>
                    Courses I have taken so far:
                    <ol>
                        <li>CSCI 570 Analysis of Algorithms - professor Victor Adamchik</li>
                        <li>CSCI 585 Database Systems - professor Satyanayarayana Raghycharya</li>
                        <li>CSCI 571 Web Technologies - professor Marco Pap</li>
                        <li>CSCI 420 Computer Graphics - professor Barbic Jernej</li>
                    </ol>
                <!-- </p> -->
                </div>
            <p>
                <!-- <a class="company-link" href="https://www.wegalabs.com/" target="_blank">&#169; Wega Labs</a> -->
            </p>
        </div>

        <!-- comfort -->
        <div class="row mt-3" style="margin:0;">
            <p style="font-size: 2.5em; padding: 0; text-align: left;">I am comfortable with</p>
            <div class="col m-2 d-flex button-wrapper">
                <button class="confetti-button p-3 flex-fill fw-bold" onclick="confetti()">PHP</button>
            </div>
            <div class="col m-2 d-flex button-wrapper">
                <button class="confetti-button p-3 flex-fill fw-bold" onclick="confetti()">MySQL</button>
            </div>
            <div class="col m-2 d-flex button-wrapper">
                <button class="confetti-button p-3 flex-fill fw-bold" onclick="confetti()">HTML5 - CSS3 - BootStrap5</button>
            </div>
            <div class="col m-2 d-flex button-wrapper">
                <button class="confetti-button p-3 flex-fill fw-bold" onclick="confetti()">Figma</button>
            </div>
            <div class="col m-2 d-flex button-wrapper">
                <button class="confetti-button p-3 flex-fill fw-bold" onclick="confetti()">Adobe Illustrator</button>
            </div>
        </div>
        
        <!-- uncomfort but can -->
        <div class="row mt-5" style="margin:0; padding-bottom: 100px;">
            <p style="font-size: 2.5em; padding: 0; text-align: left;">But can also</p>
            <div class="col m-2 d-flex button-wrapper">
                <button class="confetti-button p-3 flex-fill fw-bold" onclick="confetti()">React - TypeScript</button>
            </div>
            <div class="col m-2 d-flex button-wrapper">
                <button class="confetti-button p-3 flex-fill fw-bold" onclick="confetti()">OpenGL</button>
            </div>
            <div class="col m-2 d-flex button-wrapper">
                <button class="confetti-button p-3 flex-fill fw-bold" onclick="confetti()">Firebase</button>
            </div>
            <div class="col m-2 d-flex button-wrapper">
                <button class="confetti-button p-3 flex-fill fw-bold" onclick="confetti()">Python</button>
            </div>
        </div>

    </div>
</div>