  <div class="container" style="padding: 0;">
    <div class="container-fluid" style="padding: 0;">
        <div id="navbar" class="py-4 d-flex justify-content-between">
            
            <div class="mx-2 py-2">
                <input 
                    id="myName" 
                    type="button" 
                    class="custom-nav font-weight-bold d-block d-sm-inline" 
                    value="DEVA"
                    style="border: 0px; background-color: transparent;" 
                    routerLink="/home"
                    routerLinkActive="active-link"
                />
                
                <button 
                    class="custom-nav font-weight-bold m-2 d-none d-md-inline"
                    style="border: 0px; background-color: transparent;"
                >
                    <a routerLink="/tech" routerLinkActive="active-link">TECH</a>
                    <img src="./assets/emojis/1x/work.png" class="allEmojis">
                </button>
                
                <button 
                    class="custom-nav font-weight-bold m-2 d-none d-md-inline"
                    style="border: 0px; background-color: transparent;"
                >
                    <a routerLink="/art" routerLinkActive="active-link">ART</a>
                    <img src="./assets/emojis/1x/art.png" class="allEmojis">
                </button>

                <button 
                    class="custom-nav font-weight-bold m-2 d-none d-md-inline"
                    style="border: 0px; background-color: transparent;"
                >
                    <a routerLink="/about" routerLinkActive="active-link">ABOUT</a>
                    <img src="./assets/emojis/1x/about.png" class="allEmojis">
                </button>
            </div>

            <div class="mx-2 py-2 d-none d-sm-inline-block d-md-inline-block">
                <a href="https://github.com/curry-dev" target="_blank" class="font-weight-bold m-2">
                    <i class="fa-brands fa-github fa-lg"></i>
                </a>
                <a href="https://www.linkedin.com/in/devankshi/" target="_blank" class="font-weight-bol m-2">
                    <i class="fa-brands fa-linkedin-in fa-lg"></i>
                </a>
                <a href="mailto:dldeshmu@usc.edu" class="contact-btn fw-bold m-2 d-none d-sm-inline-block d-md-inline-block">SAY HELLO!</a>
                <button class="darkmode_button mt-4 text-end" style="padding: 0; background: transparent; border: 0;">
                    <img class="mode" src="./assets/dark-mode.png" style="height: 30px; width: 30px;" />
                </button>
            </div>

        </div>
    </div>
</div>
  
  <div class="container d-none d-sm-block" style="padding: 0;">
    <div class="container-fluid" id="footer">
        <div class="row justify-content-between">
            <div class="col my-2" style="padding: 0;">
                Designed and built by Devankshi Deshmukh :D
                <!-- <br>&#169; Devankshi Deshmukh 2023 - Los Angeles CA -->
            </div>
        </div>
    </div>
</div>
  
  <router-outlet></router-outlet>
  