<div id="displayWega" class="container">
    <div class="container-fluid" style="padding: 0;">

        <!-- heading -->
        <a href="https://www.wegalabs.com" target="_blank">
            <div class="company-box" style="padding: 50px 0;">
                <div class="row" style="padding: 0; margin: 0;">
                    <div class="col d-flex justify-content-center">
                        <img src="../../assets/wega/wegalabs_logo.jpeg" style="height:100px; width: auto; border-radius: 15%;">
                    </div>
                </div>
                <div class="row" style="padding: 0; margin: 0;">
                    <div class="col d-flex justify-content-center">
                        <p class="box-heading align-items-center" style="font-family: 'Russo One', sans-serif; color: black; font-size: 50px; margin: 0;">Wega Labs</p>
                    </div>
                </div>
            </div>
        </a>

        <!-- pointers -->
        <div class="row mt-3" style="margin: 0;">
            <div class="col company-pointers-box m-1">
                <p class="m-2">Role</p>
                <h5 class="m-2 fw-bolder">Backend Developer</h5>
            </div>
            <div class="col company-pointers-box m-1">
                <p class="m-2">Duration</p>
                <h5 class="m-2 fw-bolder">Sept 2022 - June 2023</h5>
            </div>
            <div class="col company-pointers-box m-1">
                <p class="m-2">Team</p>
                <h5 class="m-2 fw-bolder">Backend</h5>
            </div>
            <div class="col company-pointers-box m-1">
                <p class="m-2">Location</p>
                <h5 class="m-2 fw-bolder">Pune - India</h5>
            </div>
        </div>

        <!-- description -->
        <div class="box row row-cols-1 row-cols-sm-1 row-cols-md-2 my-3">
            <div class="col">
                <!-- <p class="box-heading">
                    <a href="https://go.cricinshots.com/" class="company-link" target="_blank">Cricinshots</a>
                </p> -->
                <!-- <p class="text-content mt-5">
                    In my senior year of undergrad I worked as an intern at Wega Labs. There I developed APIs as a
                    backend developer and designed & developed the websites.
                </p>
                <hr style="height:2px;">
                <p class="text-content">
                    <a href="https://go.cricinshots.com/" class="project-link" target="_blank">Cricinshots</a> is a
                    mobile cricket strategy game set in the 30th century. It is also available for download on
                    Playstore! I mainly worked on Cricinshots where my role was to craft robust APIs, seamlessly
                    integrate MySQL databases, and conduct rigorous software testing to uphold the unparalleled
                    quality of the game! Throughout the internship I learned a lot in backend as well as design.
                    Everyday, while managing college at the same time, I worked on making the OAuth stronger (Google
                    OAuth 2.0 and Apple Auth), developed various APIs and built interative websites.
                </p> -->

                <p class="text-content mt-5">
                    Wega Labs is a mobile gaming studio. ⚔ The game that the team and I are working on is a cricket strategy game called
                    cricinshots, a 3D PvP real-time game is available for iOS and Android!

                    <br><br>What I did at Wega:
                    <br>1. Collaborated with industry-standard protocols such as Google OAuth 2.0 and Apple Authentication, gaining 10,000+ signups leading to a 10% increase in user retention
                    <br>2. Developed 50+ REST APIs for the game using test driven development TDD, increasing testing efficiency by 30% and reducing bugs by 25%
                    <br>3. Implemented CI pipelines with GitHub Actions, automating build & deployment, cutting release time by 50%
                    <br>4. Coordinated the integration of RabbitMQ to facilitate message sending from APIs
                    <br>5. Devised a sophisticated and user-centric administrative panel for easy and appealing editing of the database
                    <br>6. Led the development and management of 3 company websites for press releases
                    <br>7. Collaborated with 5 cross-functional teams and communicated with clients at marketing events

                    <!-- <br>1. I get to have the awesome task of developing APIs for the game!
                    <br>2. Collaborating with industry-standard protocols such as Google OAuth 2.0 and Apple Authentication, making them more
                    and more secure for the game!
                    <br>3. Handling MySQL databases, managing, manipulating, and fine-tuning their intricate structures.
                    <br>4. Developing a sophisticated and user-centric administrative panel.
                    <br>5. Employing test-driven development (TDD) as my primary API development approach.
                    <br>6. I have the exciting role of working on the company's websites. It's a fun gig that lets me unleash my creativity!
                    <br>7. I also collaborate with message broker software such as RabbitMQ. -->
                </p>
            </div>
            <div class="row row-cols-2 row-cols-sm-2 row-cols-md-2">
                <div class="col">
                    <img src="../../assets/wega/cric-2.png" class="img-fluid">
                </div>
                <div class="col">
                    <img src="../../assets/wega/cric-1.png" class="img-fluid">
                </div>
            </div>
            <p>
                <!-- <a class="company-link" href="https://www.wegalabs.com/" target="_blank">&#169; Wega Labs</a> -->
            </p>
        </div>

        <!-- accomplishments -->
        <div class="row mt-3" style="margin:0;">
            <p style="font-size: 2.5em; padding: 0; text-align: left;">Accomplishments :D</p>
            <div class="col m-2 d-flex button-wrapper">
                <button class="confetti-button p-3 flex-fill fw-bold" onclick="confetti()">Session handling</button>
            </div>
            <div class="col m-2 d-flex button-wrapper">
                <button class="confetti-button p-3 flex-fill fw-bold" onclick="confetti()">Google and Apple authentication</button>
            </div>
            <div class="col m-2 d-flex button-wrapper">
                <button class="confetti-button p-3 flex-fill fw-bold" onclick="confetti()">Firebase</button>
            </div>
            <div class="col m-2 d-flex button-wrapper">
                <button class="confetti-button p-3 flex-fill fw-bold" onclick="confetti()">RabbitMQ client</button>
            </div>
            <div class="col m-2 d-flex button-wrapper">
                <button class="confetti-button p-3 flex-fill fw-bold" onclick="confetti()">Admin Panel</button>
            </div>
        </div>

        <!-- tech stack -->
        <div class="row mt-5" style="margin:0; padding-bottom: 100px;">
            <p style="font-size: 2.5em; padding: 0; text-align: left;">My tech stack >>></p>
            <div class="col m-2 d-flex button-wrapper">
                <button class="confetti-button p-3 flex-fill fw-bold" onclick="confetti()">PHP</button>
            </div>
            <div class="col m-2 d-flex button-wrapper">
                <button class="confetti-button p-3 flex-fill fw-bold" onclick="confetti()">React - TypeScript</button>
            </div>
            <div class="col m-2 d-flex button-wrapper">
                <button class="confetti-button p-3 flex-fill fw-bold" onclick="confetti()">MySQL</button>
            </div>
            <div class="col m-2 d-flex button-wrapper">
                <button class="confetti-button p-3 flex-fill fw-bold" onclick="confetti()">HTML5 - CSS3 - BootStrap5</button>
            </div>
            <div class="col m-2 d-flex button-wrapper">
                <button class="confetti-button p-3 flex-fill fw-bold" onclick="confetti()">Figma</button>
            </div>
        </div>

    </div>
</div>