    <!-- workup -->
    <div id="displayWorkup" class="container">
        <div class="container-fluid" style="padding: 0;">
  
            <!-- heading -->
            <a href="https://www.joinworkup.com" target="_blank">
                <div class="company-box" style="padding: 50px 0;">
                    <div class="row" style="padding: 0; margin: 0;">
                        <div class="col d-flex justify-content-center">
                            <img src="../../assets/logo-workup.png" style="height:100px; width: auto; border-radius: 15%;">
                        </div>
                    </div>
                    <div class="row" style="padding: 0; margin: 0;">
                        <div class="col d-flex justify-content-center">
                            <p class="box-heading align-items-center" style="font-family: 'Russo One', sans-serif; color: black; font-size: 50px; margin: 0;">Workup</p>
                        </div>
                    </div>
                </div>
            </a>
  
            <!-- pointers -->
            <div class="row mt-3" style="margin: 0;">
                <div class="col company-pointers-box m-1">
                    <p class="m-2">Role</p>
                    <h5 class="m-2 fw-bolder">Backend Developer</h5>
                </div>
                <div class="col company-pointers-box m-1">
                    <p class="m-2">Duration</p>
                    <h5 class="m-2 fw-bolder">May 2024 - July 2024</h5>
                </div>
                <div class="col company-pointers-box m-1">
                    <p class="m-2">Team</p>
                    <h5 class="m-2 fw-bolder">Google Chrome Extension Development</h5>
                </div>
                <div class="col company-pointers-box m-1">
                    <p class="m-2">Location</p>
                    <h5 class="m-2 fw-bolder">Los Angeles, CA</h5>
                </div>
            </div>
  
            <!-- description -->
            <div class="box row row-cols-1 row-cols-sm-1 row-cols-md-2 my-3">
                <div class="col">
                    <p class="text-content mt-5">
                        Wega Labs is a mobile gaming studio. ⚔ The game that the team and I are working on is a cricket strategy game called
                        cricinshots, a 3D PvP real-time game is available for iOS and Android!
  
                        <br><br>What I did at Wega:
                        <br>1. Collaborated with industry-standard protocols such as Google OAuth 2.0 and Apple Authentication, gaining 10,000+ signups leading to a 10% increase in user retention
                        <br>2. Developed 50+ REST APIs for the game using test driven development TDD, increasing testing efficiency by 30% and reducing bugs by 25%
                        <br>3. Implemented CI pipelines with GitHub Actions, automating build & deployment, cutting release time by 50%
                    </p>
                </div>
                <div class="row row-cols-2 row-cols-sm-2 row-cols-md-2">
                    <div class="col">
                        <img src="../../assets/wega/cric-2.png" class="img-fluid">
                    </div>
                    <div class="col">
                        <img src="../../assets/wega/cric-1.png" class="img-fluid">
                    </div>
                </div>
                <p>
                    <a class="company-link" href="https://www.joinworkup.com/" target="_blank">&#169; Workup</a>
                </p>
            </div>
  
            <!-- accomplishments -->
            <div class="row mt-3" style="margin:0;">
                <p style="font-size: 2.5em; padding: 0; text-align: left;">Accomplishments :D</p>
                <div class="col m-2 d-flex button-wrapper">
                    <button class="confetti-button p-3 flex-fill fw-bold" onclick="confetti()">Session handling</button>
                </div>
                <div class="col m-2 d-flex button-wrapper">
                    <button class="confetti-button p-3 flex-fill fw-bold" onclick="confetti()">Google Chrome Extension</button>
                </div>
                <div class="col m-2 d-flex button-wrapper">
                    <button class="confetti-button p-3 flex-fill fw-bold" onclick="confetti()">Documentation</button>
                </div>
                <div class="col m-2 d-flex button-wrapper">
                    <button class="confetti-button p-3 flex-fill fw-bold" onclick="confetti()">Code Organization</button>
                </div>
            </div>
  
            <!-- tech stack -->
            <div class="row mt-5" style="margin:0; padding-bottom: 100px;">
                <p style="font-size: 2.5em; padding: 0; text-align: left;">My tech stack >>></p>
                <div class="col m-2 d-flex button-wrapper">
                    <button class="confetti-button p-3 flex-fill fw-bold" onclick="confetti()">ReactJS</button>
                </div>
                <div class="col m-2 d-flex button-wrapper">
                    <button class="confetti-button p-3 flex-fill fw-bold" onclick="confetti()">NodeJS</button>
                </div>
            </div>
  
        </div>
    </div>